.set-container{
	width: 150px;
	height: 150px;
}

.transtrainer{
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
}

.text-center{
	text-align: center;
}

.text-faded{
	color: #4a667a;
}

.text-pad{
	padding-top: 20px;
}

.sized{
	width: 96px;
	height: 96px;
}

.sized-browser-img{
	width: 75px;
	height: 75px;
}