<ul class='menu-list'>
	<li><link-to @title='New Quiz' @route='quiz.new'/></li>
	<li><link-to @title='Completed Quizzes' @route='quizzes'/></li>
	<li><link-to @title='Digital Fingerprints' @route='fingerprints'/></li>
	<li><link-to @title='My Digital Fingerprint' @route='my-digital-fingerprint'/></li>
	<li><link-to @title='Grouped Fingerprints' @route='grouped-fingerprints'/></li>
</ul>